<div class='container' id="primary_content">
  <div class='row'>
    <div class= 'col-md-12 artwork_holder'>
      {{!-- ARTWORK HEADER   --}}
      <div class='row'>
        {{#if hasImage}}
          <div class ='col-md-3'>
            <img {{bind-attr src=firstImage }} class="img-rounded pull-left artwork-thumbnail">
          </div>
        {{/if}}
        <div class='col-md-9'>
          <h3 class='compact' id="artwork-title"> {{title}} {{creation_label}}</h3>
          <h5 id="artist-name"> {{artist}}</h5>
          <h6 id="accession-number"> {{accession_number}}</h6>

          {{provenance-text periods=sortedPeriods}}
        </div>
      </div>
    </div>
  </div>
</div>

<div class='container-fluid' id="secondary_content">
  <div class="container">
  <div class='row'>
    <div class= 'col-md-12'>


  {{!-- ARTWORK HEADER   --}}
      {{party-list-nav periods=sortedPeriods delete='deleteParty' reorder='reorderParties' add='addParty' open="openPrimary" initNav='resizeNav'}}
      <div class="col-md-9">
       

        <div role="tabpanel" class='better-tab'>
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#period-fields" aria-controls="period-fields" role="tab" data-toggle="tab">Provenance</a></li>
            <li role="presentation"><a href="#fulltext" aria-controls="fulltext" role="tab" data-toggle="tab">Original Record</a></li>
  

            <li class="hidden" role="presentation">
              <a href="#party-lookup" aria-controls="party-lookup" role="tab" data-toggle="tab">Party Lookup</a>
            </li>

            <li class="hidden" role="presentation">
              <a href="#location-lookup" aria-controls="location-lookup" role="tab" data-toggle="tab">Location Lookup</a>
            </li>


            <li role="presentation">
              <a href="#exhibitions" aria-controls="exhibitions" role="tab" data-toggle="tab">Exhibition History</a>
            </li>
          </ul>
          <div class="tab-content ">
            <div class="tab-pane " id="fulltext" {{bind-attr style=betterTabHeight}}>
              <div class="row">
                <div class="col-md-12">
                  <p  class="panel well compact"> {{provenance}} </p>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="exhibitions" {{bind-attr style=betterTabHeight}}>
              <div class="row">
                <div class="col-md-12">
                  {{#each exhibition in sorted_exhibition_details}}
                    {{exhibition-details exhibition=exhibition}}
                  {{else}}
                    <div class='no-content'>This work has no exhibition history.</div>
                  {{/each}}
                </div>
              </div>
            </div>

            <div class="tab-pane" id="party-lookup" {{bind-attr style=betterTabHeight}}>
              <div class="row">
                <div class="col-md-12">
                  <div class='no-content'>Party disambiguation will go here.</div>
                </div>
              </div>
            </div>

            <div class="tab-pane" id="location-lookup" {{bind-attr style=betterTabHeight}}>
              <div class="row">
                <div class="col-md-12">
                  <div class='no-content'>Location disambiguation will go here.</div>
                </div>
              </div>
            </div>


            <div class="tab-pane active" id="period-fields" {{bind-attr style=betterTabHeight}}>
              {{#unless periods}} <div class='no-content'>There is no provenance record for this artwork.</div> {{/unless}}
              {{outlet}}
              <hr/>
              <div class="row">
                <div class="col-md-12">
                  <button class="btn-link btn btn-xs show-extended pull-right" {{action 'toggle_extended'}}>
                   {{#if showExtended}}Hide{{else}}Show{{/if}} Extended Fields
                   <span {{bind-attr class=":updown :glyphicon showExtended:glyphicon-chevron-up:glyphicon-chevron-down"}}/>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
  </div>
</div>

<div class="row">
  <div class='col-md-12'>
    <div class="timeline-holder">
      {{provenance-timeline creationDate=creation_earliest timeline_data=timeline_data action="gotoParty"}}
    </div>
  </div>
</div>
<div class="row">
  <div class='col-xs-6 col-xs-offset-3 bottom-buttons'>
    {{#link-to 'index'}}
      <button class="btn btn-default btn-info btn-xl btn-block">Start Over</button>
    {{/link-to}}
    </div>
  </div>
</div>
</div>
</div>

    </div>
  </div>
</div>
