<div id="artwork_holder">
<div class='row'>
  <div class ='col-md-8'>
    {{#if hasImage}}
    <img {{bind-attr src=firstImage }} class="img-thumbnail pull-left artwork-thumbnail">
    {{/if}}
    <h3 class='compact'> {{title}} {{creation_label}}</h3>
    <h4> {{artist}}</h4>
    {{!-- <p> Last Updated: (date goes here) by (name)</p> --}}
  </div>
  
  <div class="interface col-md-4">
    <div class="btn-toolbar pull-right">
      <div class="btn-group btn-group-xs">
        <button class="btn btn-info" {{action 'toggle_extended'}}>
         {{#if showExtended}}
            Hide Extended Fields
         {{else}}
            Show Extended Fields
         {{/if}}
        </button>
      </div>
    </div>
  </div>

</div>
<hr class='compact'/>

<div class="row">
  <div class="col-md-3">
    {{party-list-nav periods=sortedPeriods delete='deleteParty' reorder='reorderParties' add='addParty' open="openPrimary"}}
  </div>
  <div class="col-md-9">
     {{outlet}}
   {{#unless periods}}  
      There is no provenance record for this artwork.
   {{/unless}}
  </div>
</div>
<div class="row">
  {{provenance-text periods=sortedPeriods}}
</div>
<div class="row">
  <div class='col-md-12 timeline-holder'>
    {{provenance-timeline creationDate=creation_latest timeline_data=timeline_data action="gotoParty"}}
  </div>
</div>
<div class="row">
  <div class="col-md-3" id='provenance_map'>
    {{!-- {{view "provenance_map"}} --}}
  </div>
</div>
<hr>
<div class="row">
  <div class="interface col-md-12">
    <div class="btn-toolbar pull-right">
      <div class="btn-group">
        {{#link-to 'index'}}
        <button class="btn btn-warning">Start Over</button>
        {{/link-to}}
      </div>
    </div>
  </div>
</div>
</div>
<hr>
</div>

