<div class ="row">
  <div class ='col-md-8 col-md-offset-2'>  
  <h1>Elysa: <small>Housekeeping for Provenance </small></h1>
  <p class='lead'>
    Elysa helps maintain and control provenance records for art in museums.
  </p>
  <p>
    The tool, named after Elysa Nicholl, Andrew Carnegie's housekeeper, parses textual provenance records
    from the collection at the Carnegie Museum of Art and converts them into structured data.  It then indicates places where the structure of the information deviates from the AAM standard of provenance, as well as a stricter subset developed to assist in machine readability.
  </p>

  <p> It is built on top of the open source <a href='https://github.com/cmoa/museum_provenance'><code>museum_provenance</code></a> library, 
  also developed at the <a href='http://www.cmoa.org'>Carnegie Museum of Art </a>
  as part of the <a href='http://blog.cmoa.org/tag/art-tracks/'>Art Tracks</a> project.
  <p>
    For more information, please see <a href='/docs'>the complete documentation.</a>
  </p>
  </div>
</div>
<div class ="row">
  <div class ='col-md-8 col-md-offset-2'>  
    <div class='well'>
      <div class="form-group form-group-lg">
        <label>Search: </label>
        {{input type="text" class="search form-control" placeholder="Search the collection" value=query action="search"}}
        </div>
    </div>
  </div>
</div>
{{#if searching}}
<div class ="row">
  <div class ='col-md-8 col-md-offset-2'>  
    {{basic-pagination total=resultLength current=currentPage action='gotoPage' }}
  </div>
</div>
<div class ="row">
  <div class ='col-md-8 col-md-offset-2'>  
      <ul class="list-unstyled">
        {{#each result in results}}
          <li>
            {{#link-to 'artwork' result._source.id}}
              <strong>{{result._source.accession_number}}</strong>: {{result._source.title}} – <i>{{result._source.artist}}</i>
            {{/link-to}}
          </li>
        {{/each}}
      </ul>
  </div>
</div>

{{/if}}