<div id="artwork_holder">

  {{!-- ARTWORK HEADER   --}}
  <div class='row'>
    <div class ='col-md-8'>
      {{#if hasImage}}
      <img {{bind-attr src=firstImage }} class="img-rounded pull-left artwork-thumbnail">
      {{/if}}
      <h3 class='compact'> {{title}} {{creation_label}}</h3>
      <h4> {{artist}}</h4>
      {{!-- <p> Last Updated: (date goes here) by (name)</p> --}}
    </div>
  </div>


  {{provenance-text periods=sortedPeriods}}


  {{!-- ARTWORK HEADER   --}}
  <div class="row well">
      {{party-list-nav periods=sortedPeriods delete='deleteParty' reorder='reorderParties' add='addParty' open="openPrimary" initNav='resizeNav'}}
      <div class="col-md-9">
       

        <div role="tabpanel" class='better-tab'>
          <ul class="nav nav-tabs" role="tablist">
          <li role="presentation"><a href="#fulltext" aria-controls="fulltext" role="tab" data-toggle="tab">Original Record</a></li>
            <li role="presentation" class="active"><a href="#period-fields" aria-controls="period-fields" role="tab" data-toggle="tab">Current Period</a></li>


            <li role="presentation">
              <a href="#party-lookup" aria-controls="party-lookup" role="tab" data-toggle="tab">Party Lookup</a>
            </li>

            <li role="presentation">
              <a href="#location-lookup" aria-controls="location-lookup" role="tab" data-toggle="tab">Location Lookup</a>
            </li>


            <li role="presentation">
              <a href="#exhibitions" aria-controls="exhibitions" role="tab" data-toggle="tab">Exhibition History</a>
            </li>
          </ul>
          <div class="tab-content ">
            <div class="tab-pane " id="fulltext" {{bind-attr style=betterTabHeight}}>
              <div class="row">
                <div class="col-md-12">
                  <p  class="panel well compact"> {{provenance}} </p>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="exhibitions" {{bind-attr style=betterTabHeight}}>
              <div class="row">
                <div class="col-md-12">
                  {{#each exhibition in sorted_exhibition_details}}
                    {{exhibition-details exhibition=exhibition}}
                  {{else}}
                    <div class='no-content'>This work has no exhibition history.</div>
                  {{/each}}
                </div>
              </div>
            </div>

            <div class="tab-pane" id="party-lookup" {{bind-attr style=betterTabHeight}}>
              <div class="row">
                <div class="col-md-12">
                  <div class='no-content'>Party disambiguation will go here.</div>
                </div>
              </div>
            </div>

            <div class="tab-pane" id="location-lookup" {{bind-attr style=betterTabHeight}}>
              <div class="row">
                <div class="col-md-12">
                  <div class='no-content'>Location disambiguation will go here.</div>
                </div>
              </div>
            </div>


            <div class="tab-pane active" id="period-fields" {{bind-attr style=betterTabHeight}}>
              {{#unless periods}} <div class='no-content'>There is no provenance record for this artwork.</div> {{/unless}}
              {{outlet}}
              <button class="btn-link btn btn-xs pull-right show-extended" {{action 'toggle_extended'}}>
               {{#if showExtended}}Hide{{else}}Show{{/if}} Extended Fields
              </button>
            </div>
          </div>
        </div>

      </div>
  </div>
</div>

<div class="row">
  <div class='col-md-12 timeline-holder'>
    {{provenance-timeline creationDate=creation_latest timeline_data=timeline_data action="gotoParty"}}
  </div>
</div>
<hr>
<div class="row">
  <div class="interface col-md-12">
    <div class="btn-toolbar pull-right">
      <div class="btn-group">
        {{#link-to 'index'}}
        <button class="btn btn-warning">Start Over</button>
        {{/link-to}}
      </div>
    </div>
  </div>
</div>
</div>
</div>

