<div class ="row">
  <div class ='col-md-8 col-md-offset-2'>  
  <h3> CMOA Museum Provenance</h3>
  <p>
    Welcome to the CMOA Provenance entry tool.   Eventually, there will be an interface here that
    will allow you to search our collection—currently, you can only search via artwork title.
  </p>
  <p>
    For more information on using the tool, please see <a href='/docs'>the documentation.</a>
  </p>
  </div>
</div>
<div class ="row">
  <div class ='col-md-8 col-md-offset-2'>  
    <div class='well'>
      <div class="form-group form-group-lg">
        <label>Search: </label>
        {{input type="text" class="search form-control" placeholder="Artwork Title" value=query action="search"}}
        </div>
    </div>
  </div>
</div>
{{#if searching}}
<div class ="row">
  <div class ='col-md-8 col-md-offset-2'>  
    {{basic-pagination total=resultLength current=currentPage action='gotoPage' }}
  </div>
</div>
<div class ="row">
  <div class ='col-md-8 col-md-offset-2'>  
      <ul>
        {{#each result in results}}
          <li>
            {{#link-to 'artwork' result._source.id}}
              <strong>{{result._source.accession_number}}</strong>: {{result._source.title}} – <i>{{result._source.artist}}</i>
            {{/link-to}}
          </li>
        {{/each}}
      </ul>
  </div>
</div>

{{/if}}