<div role="tabpanel" class='better-tab'>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#period-fields" aria-controls="period-fields" role="tab" data-toggle="tab">Current Period</a></li>
    <li role="presentation"><a href="#fulltext" aria-controls="fulltext" role="tab" data-toggle="tab">Full Text</a></li>
    <li role="presentation"><a href="#exhibitions" aria-controls="exhibitions" role="tab" data-toggle="tab">Exhibition History</a></li>
  </ul>

 <div class="tab-content">
 <div class="tab-pane " id="fulltext">
    Fulltext Goes Here
 </div>
  <div class="tab-pane better-tab" id="exhibitions">
    Exhibition History Goes Here
 </div>
 <div class="tab-pane active better-tab" id="period-fields">
  {{#unless parsable}}
  <div class="row">
  <div class="form-group compact">
    {{help-label size="col-sm-2" label='Original Text' help=original_text_help}}
    <div class='col-sm-10'>
      <span class=' disabled'>{{original_text}}</span>
    </div>
  </div>
  </div>
  {{/unless}}
  <div class="row">
  {{inline-editor  tabstop="1"   label="Current Text" val=provenance  action="updateProvenance" singleLine=true primary=true help=current_text_help}}
  </div>
  <hr class='compact'/>
  <div class="row">
    <form class="form-horizontal col-md-6 form-compact" onsubmit="return false;">
      {{inline-editor tabstop="2" label="Party Name"     val=party      action="updateRecord" possibly=party_certainty help=name_help}}
      {{inline-editor tabstop="3" label="Year of Birth"  val=birth_year action="updateRecord" possibly=birth_certainty  help=birth_year_help}}
      {{inline-editor tabstop="4" label="Year of Death"  val=death_year action="updateRecord" possibly=death_certainty   help=death_year_help}}
      {{inline-editor tabstop="5" label="Party Location" val=location   action="updateRecord" possibly=location_certainty help=location_help}}
      {{acquisition-method  tabstop="6" val=acquisition_method      action="updateRecord" help=aqcuisition_help }}
    </form>
    <form class="form-horizontal col-md-6 form-compact" onsubmit="return false;">
      {{bootstrap-switch  tabstop="8"  label="Text Certain"    status=period_certainty     action="updateRecord" help=period_certainty_help}}
      {{bootstrap-switch   tabstop="9" label="Direct Transfer?"   status=direct_transfer      action="updateRecord" }}
      {{bootstrap-switch   tabstop="10" label="Primary Owner?"   status=primary_owner         action="updateRecord" }}
      {{inline-editor  tabstop="11"  label="Ownership Dates"  val=timestring                    action="updateDate" }}
      {{inline-editor  tabstop="12"   label="Stock Number"   val=stock_number                  action="updateRecord" }}
    </form>
  </div>

  <div class="row">
    {{inline-editor   tabstop="7"  label="Footnote" val=footnote      action="updateRecord" singleLine=true }}
  </div>

  <div {{bind-attr class=":row :extended_fields showExtended:visible"}}>
    <hr/>
    <form class="form-horizontal col-md-6 form-compact" onsubmit="return false;">
      {{bootstrap-switch   label="Party Certain?"    status=party_certainty     action="updateRecord" }}
      {{bootstrap-switch   label="Birth Certain?"    status=birth_certainty     action="updateRecord" }}
      {{bootstrap-switch   label="Death Certain?"    status=death_certainty     action="updateRecord" }}
      {{bootstrap-switch   label="Loc. Certain?"     status=location_certainty  action="updateRecord" }}
      <div class="form-group">
        <label class="col-sm-4 inline-editor-label">Earliest Possible</label>
        <div class='col-sm-8'>
          <span class='click_to_edit'>{{earliest_possible}}</span>
        </div>
      </div>
      
      <div class="form-group">
        <label class="col-sm-4 inline-editor-label">Earliest Definite</label>
        <div class='col-sm-8'>
          <span class='click_to_edit'>{{earliest_definite}}</span>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 inline-editor-label">Latest Possible</label>
        <div class='col-sm-8'>
          <span class='click_to_edit'>{{latest_possible}}</span>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 inline-editor-label">Latest Definite</label>
        <div class='col-sm-8'>
          <span class='click_to_edit'>{{latest_definite}}</span>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 inline-editor-label">BOTB</label>
        <div class='col-sm-8'>
          <span class='click_to_edit'>{{botb}}</span>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 inline-editor-label">EOTB</label>
        <div class='col-sm-8'>
          <span class='click_to_edit'>{{eotb}}</span>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 inline-editor-label">BOTE</label>
        <div class='col-sm-8'>
          <span class='click_to_edit'>{{bote}}</span>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 inline-editor-label">EOTE</label>
        <div class='col-sm-8'>
          <span class='click_to_edit'>{{eote}}</span>
        </div>
      </div>
    </form>

    <form class="form-horizontal col-md-6 form-compact" onsubmit="return false;">
      {{!-- <dt>BotB</dt><dd>{{botb}}</dd> --}}
      {{bootstrap-switch label="BOTB Certain?"  status=botb_certainty  action="updateRecord" }}
      {{!-- {{precision-select label="BOTB Precision" val=botb_precision     action="updateRecord" }} --}}

      {{!-- <dt>BotB Precision</dt><dd>{{botb_precision}}</dd> --}}
      {{!-- <dt>EotB</dt><dd>{{eotb}}</dd> --}}
      {{bootstrap-switch   label="EOTB Certain?"    status=eotb_certainty     action="updateRecord" }}
      {{!-- {{precision-select label="EOTB Precision" val=eotb_precision     action="updateRecord" }} --}}
      {{!-- <dt>BotE</dt><dd>{{bote}}</dd> --}}
      {{bootstrap-switch   label="BOTE Certain?"    status=bote_certainty     action="updateRecord" }}
      {{!-- {{precision-select label="BOTE Precision" val=bote_precision     action="updateRecord" }} --}}
      {{!-- <dt>EotE</dt><dd>{{eote}}</dd> --}}
      {{bootstrap-switch   label="EOTE Certain?"    status=eote_certainty     action="updateRecord" }}
      {{!-- {{precision-select label="EOTE Precision" val=eote_precision     action="updateRecord" }} --}}
    </form>
  </div>
</div>
</div>
</div>
