<div class="row">
  <form class="form-horizontal col-md-6 form-compact">
    {{inline-editor    label="Party Name"     val=party        action="rebuildStructure" possibly=party_certainty    tabindex=10  bubbles=false }}
    {{inline-editor    label="Year of Birth"  val=birth_year   action="rebuildStructure" possibly=birth_certainty    tabindex=30 bubbles=false }}
    {{inline-editor    label="Year of Death"  val=death_year   action="rebuildStructure" possibly=death_certainty    tabindex=40 bubbles=false }}
    {{inline-editor    label="Party Location" val=location     action="rebuildStructure" possibly=location_certainty tabindex=20 bubbles=false }}
    {{acquisition-method                            val=acquisition_method      action="rebuildStructure" }}
  </form>
  <form class="form-horizontal col-md-6 form-compact">
    {{bootstrap-switch   label="Period Certain?"    status=period_certainty     action="rebuildStructure" bubbles=false }}
    {{bootstrap-switch   label="Direct Transfer?"   status=direct_transfer      action="rebuildStructure" bubbles=false }}
    {{inline-editor      label="Transfer in"        val=acquisition_time_span   action="updateDate"       bubbles=false }}
    {{inline-editor      label="Transfer out"       val=deacquisition_string    action="rebuildStructure" bubbles=false }}
  </form>
</div>

<div class="row">
  {{inline-editor    label="Footnote" val=footnote      action="rebuildStructure" singleLine=true }}
</div>

<div {{bind-attr class=":row :extended_fields showExtended:visible"}}>
  <hr/>
  <form class="form-horizontal col-md-6 form-compact">
    {{inline-editor    label="Stock Number"   val=stock_number action="rebuildStructure" tabindex=0 }}
    {{bootstrap-switch   label="Party Certain?"    status=party_certainty     action="rebuildStructure" }}
    {{bootstrap-switch   label="Birth Certain?"    status=birth_certainty     action="rebuildStructure" }}
    {{bootstrap-switch   label="Death Certain?"    status=death_certainty     action="rebuildStructure" }}
    {{bootstrap-switch   label="Loc. Certain?"     status=location_certainty  action="rebuildStructure" }}
    <div class="form-group">
      <label class="col-sm-4 inline-editor-label">Earliest Possible</label>
      <div class='col-sm-8'>
        <span class='click_to_edit'>{{earliest_possible}}</span>
      </div>
    </div>
    
    <div class="form-group">
      <label class="col-sm-4 inline-editor-label">Earliest Definite</label>
      <div class='col-sm-8'>
        <span class='click_to_edit'>{{earliest_definite}}</span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 inline-editor-label">Latest Possible</label>
      <div class='col-sm-8'>
        <span class='click_to_edit'>{{latest_possible}}</span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 inline-editor-label">Latest Definite</label>
      <div class='col-sm-8'>
        <span class='click_to_edit'>{{latest_definite}}</span>
      </div>
    </div>
  </form>

  <form class="form-horizontal col-md-6 form-compact">
    {{!-- <dt>BotB</dt><dd>{{botb}}</dd> --}}
    {{bootstrap-switch label="BOTB Certain?"  status=botb_certainty  action="rebuildStructure" }}
    {{!-- {{precision-select label="BOTB Precision" val=botb_precision     action="rebuildStructure" }} --}}

    {{!-- <dt>BotB Precision</dt><dd>{{botb_precision}}</dd> --}}
    {{!-- <dt>EotB</dt><dd>{{eotb}}</dd> --}}
    {{bootstrap-switch   label="EOTB Certain?"    status=eotb_certainty     action="rebuildStructure" }}
    {{!-- {{precision-select label="EOTB Precision" val=eotb_precision     action="rebuildStructure" }} --}}
    {{!-- <dt>BotE</dt><dd>{{bote}}</dd> --}}
    {{bootstrap-switch   label="BOTE Certain?"    status=bote_certainty     action="rebuildStructure" }}
    {{!-- {{precision-select label="BOTE Precision" val=bote_precision     action="rebuildStructure" }} --}}
    {{!-- <dt>EotE</dt><dd>{{eote}}</dd> --}}
    {{bootstrap-switch   label="EOTE Certain?"    status=eote_certainty     action="rebuildStructure" }}
    {{!-- {{precision-select label="EOTE Precision" val=eote_precision     action="rebuildStructure" }} --}}
  </form>
</div>
