<div class="form-group">
  {{help-label size=labelRowClass label=label help=help_text}}
  <div {{bind-attr class="fieldRowClass"}} >
    {{#if isEditing}}
      {{inline-input val=val class='form-control input-sm' tabindex=tabstop}}
    {{else}}
      <span {{action "beginEditing" on="focusIn"}}  {{bind-attr tabindex='tabstop'}}>
      <span {{action "beginEditing" on "click"}}>
        {{#if val}}
           <span class='click_to_edit' > {{val}} {{ques possibly}}</span>
        {{else}}
          <span class='click_to_edit disabled'> click to edit </span>
        {{/if}}
      </span>
      </span>
    {{/if}}
  </div>
</div>