<div class="col-md-12 col-md-offset-0 panel panel-default">
    <div class ="panel-body">
    {{#each periods}}
      {{#link-to 'period' id classNameBindings=':provenance_line party_is_blank'}}
        {{#if parsable}}
          {{provenance_with_footnote~}}
        {{else}}
          <span class='provenance_text'>{{~provenance_with_footnote~}}</span><span class='provenance_original_text'>{{~original_text~}}</span>
         {{~/if~}} 
        {{~transfer_type direct_transfer}}
      {{/link-to}}
    {{/each}}
    <div>
    NOTES:
      {{#each periods}}
        {{#if footnote}}
          {{#link-to 'period' id class='provenance_line'}}
            {{footnote_number}}. {{footnote}}
          {{/link-to}}
          {{/if}}
      {{/each}}
    </div>
    </div>
  </div>